doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", rel="stylesheet")
    style
      include code.css

  body
    table.table
      tr
        td.info(align="center") 1
        td(align="center") #{codes[0]}
        td.info(align="center") 7
        td(align="center") #{codes[6]}
        td.info(align="center") 13
        td(align="center") #{codes[12]}
        td.info(align="center") 19
        td(align="center") #{codes[18]}
        td.info(align="center") 25
        td(align="center") #{codes[24]}

      tr
        td.info(align="center") 2
        td(align="center") #{codes[1]}
        td.info(align="center") 8
        td(align="center") #{codes[7]}
        td.info(align="center") 14
        td(align="center") #{codes[13]}
        td.info(align="center") 20
        td(align="center") #{codes[19]}
        td.info(align="center") 26
        td(align="center") #{codes[25]}

      tr
        td.info(align="center") 3
        td(align="center") #{codes[2]}
        td.info(align="center") 9
        td(align="center") #{codes[8]}
        td.info(align="center") 15
        td(align="center") #{codes[14]}
        td.info(align="center") 21
        td(align="center") #{codes[20]}
        td.info(align="center") 27
        td(align="center") #{codes[26]}

      tr
        td.info(align="center") 4
        td(align="center") #{codes[3]}
        td.info(align="center") 10
        td(align="center") #{codes[9]}
        td.info(align="center") 16
        td(align="center") #{codes[15]}
        td.info(align="center") 22
        td(align="center") #{codes[21]}
        td.info(align="center") 28
        td(align="center") #{codes[27]}

      tr
        td.info(align="center") 5
        td(align="center") #{codes[4]}
        td.info(align="center") 11
        td(align="center") #{codes[10]}
        td.info(align="center") 17
        td(align="center") #{codes[16]}
        td.info(align="center") 23
        td(align="center") #{codes[22]}
        td.info(align="center") 29
        td(align="center") #{codes[28]}

      tr
        td.info(align="center") 6
        td(align="center") #{codes[5]}
        td.info(align="center") 12
        td(align="center") #{codes[11]}
        td.info(align="center") 18
        td(align="center") #{codes[17]}
        td.info(align="center") 24
        td(align="center") #{codes[23]}
        td.info(align="center") 30
        td(align="center") #{codes[29]}

    p #{id}

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
